[data-rmiz="visible"],
[data-rmiz="hidden"] {
  position: relative;
}
[data-rmiz="hidden"] {
  visibility: hidden;
}
[data-rmiz-ghost] {
  position: absolute;
  pointer-events: none;
}
[data-rmiz-btn-open],
[data-rmiz-btn-close] {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  border: none;
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  color: #fff;
  height: 40px;
  margin: 0;
  padding: 9px;
  pointer-events: none;
  width: 40px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
[data-rmiz-btn-open]:not(:focus):not(:active),
[data-rmiz-btn-close]:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
/*[data-rmiz-btn-open] {*/
/*  cursor: zoom-in;*/
/*}*/
/*[data-rmiz-btn-close] {*/
/*  cursor:pointer;*/
/*  cursor:-webkit-zoom-out;*/
/*  cursor:zoom-out;*/
/*  touch-action: manipulation;*/
/*}*/
[data-rmiz-btn-open-icon] {
  width: 100%;
  height: 100%;
}
[data-rmiz-overlay] {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition-property: background-color;
}
[data-rmiz-modal-content] {
  position: absolute;
  transition-property: transform;
  transform-origin: center center;
}
